*{
    margin: 0px;
    padding: 0px;
}
body{
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 30px;
    color: white;
    background-image: url(../img/arkaekran.jpg);
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}
a{
    padding-right: 50px;
    float: right;
    padding-top: 30px;
    text-decoration: none;
    color: white;
    
}
.kaydol{
   
    width: 400px;
    height: 400px;
    margin-top: 60px;
    background: rgba(0, 0, 0, .8);
    margin: auto;
    padding-left: 80px;
    padding-right: 10px;
    padding-bottom: 50px;
    padding-top: 30px;

}
input[type=text]{
    background-color: aqua;
    height: 30px;
    
}
input[type=password]{
    background-color: aqua;
    height: 30px;
}
input[type=button]{
    background-color: aqua;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    transition: 1s;
    margin-left: 100px;
    margin-top: 50px;
    margin-right: 20px;
}
input[type=reset]{
    background-color: aqua;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    transition: 1s;
}
input[type=reset]:hover{
   background-color: blue;
    transition: 1s;
}
input[type=button]:hover{
    background-color: blue;
     transition: 1s;
 }